.avocado-form {
    font-family: "PT Sans";
}
.avocado-form  li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.form-controls {
    text-align: center;
    justify-content: center;
}

.avocado-form > li > label {
    /*flex: 1 0 120px;*/
    flex: auto;
    max-width: 220px;
}

.avocado-form > li > label + * {
    flex: 1 0 220px;
    max-width: 220px;
    /*padding-bottom: 10px;*/
}

.avocado-form > li > input {
}

.error-field-required {
    color: tomato;
    align-content: space-around;
}
/*.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}*/